#donate {
  max-width: 469px;
}
.round {
  border-radius: 22px;
}
@media only screen and (max-width: 768px) {
  #leftNav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #rightNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  #leftNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #rightNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}