.flex-1 {
  flex: 1;
}
.txt-smol {
  font-size: 11px;
}

.placeholder {
  height: .7rem;
  display: inline-block;
  background-color: var(--bs-gray-300);
  animation-name: shine;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}

@keyframes shine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}